[submodule "3rd/muduo"]
	path = 3rd/muduo
	url = https://github.com/chenshuo/muduo.git
[submodule "3rd/kcp"]
	path = 3rd/kcp
	url = https://github.com/skywind3000/kcp.git
[submodule "3rd/libpcap"]
	path = 3rd/libpcap
	url = https://github.com/the-tcpdump-group/libpcap.git
[submodule "3rd/PcapPlusPlus"]
	path = 3rd/PcapPlusPlus
	url = https://github.com/seladb/PcapPlusPlus.git
